
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    margin: 0;
}





#header_wrapper {
    background:  #600000;
    padding: 20px 0px;
}

.header_box {
    position: relative;
}



.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    border: 0px solid #fff;
    min-height: 40px;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: rgb(255, 255, 255);
}

.navStyle {
    float: right;
}

.navStyletitle {
    float: left;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
}


.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}

.navStyle ul li a {
    display: block;
    color: #ffffff;
    font-family: 'Source Code Pro';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 38px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

}

.navStyle ul li a:hover {
    color: #c36363;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #c36363;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #c36363;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #C36363;
    background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: #c36363;
    background-color: transparent;
}

.borderLeft {
    border-left: 1px solid #DADADA;
}

.borderTop {
    margin-top: 30px;
    border-top: 1px solid #DADADA;
}

.mrgTop {
    margin-top: 30px;
}


ul {
    list-style: none;
}

.figure {
    margin: 0px;
}


a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after {
    clear: both;
}