
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    margin: 0;
}


#header_wrapper {
    background:  #600000;
    padding: 20px 0px;
}